* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

body {
    /* background-image: url("/img/Weatherbg.jpg");
    background-color: #cccccc;
    background-size: cover; */

    background: url(/img/Weatherbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    


}

.topBar {
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 100px;
    padding-right: 100px;
}

.refresh {
    margin-left: auto;
    padding-right: 20px;
}

.forecast {
    font-weight: 700;
    font-size: 50px;
    padding-right: 15px;
}
 
/* Searchbar  */

.wrapper {
    width: 100%;
    max-width: 31.25rem;
}
  
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
  
#searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    color: black;
}
  
#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}
  
#searchQuerySubmit:hover {
    cursor: pointer;
}

.refresh {
    font-size: x-large;
}

.leftIconGroup {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-self: center;
}

.location {
    font-weight: 600;
    font-size: 60px;
    align-self: center;

}

.temperature {
    font-size: 85px;
    align-self: center;

}

.classification {
    font-size: 30px;
    align-self: center;

}

.date {
    font-size: 15px;
    align-self: center;
}

.rightIconGroup {
    padding-top: 60px;
    align-self: center;
    display: grid;
    grid-template-areas: 
    "topleft topright"
    "bottomright bottomright";
    font-size: 24px;
}

.feelsLikeBox{
    grid-area: topleft;
    
}

.humidityBox{
    grid-area: topright;
    padding-left: 30px;

}

.chanceofRainBox {
    grid-area: bottomleft;
    padding-right: 30px;
}

.windSpeedBox {
    display: flex;
    padding-top: 10px;
    grid-area: bottomright;

    justify-content: center;

    

}

@media only screen and (max-width: 800px) {
    .topBar {
        padding-left: 20px;
        padding-right: 50px;
    }
}

#icon {
    display: inline;
}